<div class="resume-header row">
    <div class="name col-sm-6"><%= heading['name'] %></div>
    <div class="email col-sm-6"><%= heading['email'] %></div>
</div>

<div class="resume-body">
<%  sections.each do |section| -%>
    <div class="resume-section">

        <h1 class="section-title" class="center-block"><%= section['title'] %></h1>

<%      section['sub'].each do |subsection| -%>
        <div class="resume-<%=subsection['style']%>-subsection">

            <div class="subsection-header">
<%          if subsection['style'] == 'experience' -%>
                <div class="row">
                    <div class="subsection-title col-sm-4"><%= subsection['title'] %></div>
                    <div class="role col-sm-4 col-sm-offset-4"><%= subsection['role'] %></div>
                </div>
                <div class="row">
                    <div class="where col-sm-8"><%= subsection['where'] %></div>
                    <div class="when col-sm-4"><%= subsection['when'] %></div>
                </div>
<%          elsif subsection['style'] == 'degree' -%>
                <div class="subsection-title center-block"><%= subsection['title'] %></div>
                <div class="row">
                    <div class="description col-sm-8"><%= subsection['description'] %></div>
                    <div class="detail col-sm-4"><%= subsection['when'] %>, <%= subsection['gpa'] %></div>
                </div>
<%          elsif subsection['style'] == 'publication' -%>
                <div class="subsection-title center-block"><%= subsection['title'] %></div>
                <div class="row">
                    <div class="where col-sm-8"><%= subsection['where'] %></div>
<%              if subsection['pub_in'] -%>
                    <div class="pub-in col-sm-4">Published In: <%= subsection['pub_in'] %></div>
<%              end -%>
                </div>
                <div class="authors">Authors: <%= subsection['authors'].join(', ') %></div>
<%          else -%>
                <div class="subsection-title center-block"><%= subsection['title'] %></div>
<%          end -%>
            </div>

            <div class="resume-items">
<%          if subsection['itemstyle'] == 'list' and subsection['items'] -%>
                <ul>
<%              subsection['items'].each do |bullet_point| -%>
                    <li><%= bullet_point %></li>
<%              end -%>
                </ul>
<%          elsif subsection['itemstyle'] == 'courses' -%>
                <p>Notable Courses: <%= subsection['items'].join(', ') %></p>
<%          elsif subsection['itemstyle'] == 'twocol' -%>
<%              subsection['items'].each do |twocol_item| -%>
                <div class="row">
                    <div class="col-sm-4"><%= twocol_item['col1'] %></div>
                    <div class="col-sm-offset-4"><%= twocol_item['col2'] %></div>
                </div>
<%              end -%>
<%          elsif subsection['itemstyle'] == 'commasep' -%>
                <p><%= subsection['items'].join(subsection['separator']) %></p>
<%          end -%>
            </div>

        </div>
<%      end -%>
    </div>
<%  end -%>
</div>
